[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
environ = "*"
django-rest = "*"
django-filter = "*"
django-allauth = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-haystack = "*"
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.11"
