@use "../utilities/colorVariables" as colors;

.login-container {
  display: flex;
  justify-content: center;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      width: 100px; /* Adjust width as needed */
      text-align: right;
      margin-right: 10px; /* Add space between label and input */
    }
  }
}
