@use "../utilities/colorVariables" as colors;

.second-part-nav {
  background-color: colors.$themeSecondColor;
  height: 30px;
  display: flex;
  justify-content: center;
  .button-container {
    width: 72%;
    display: flex;
    justify-content: space-around;
    background-color: colors.$themeSecondColor;
    .btn {
      flex: 1;
      border: none;
    }
  }
}
