.second-part-nav {
  background-color: whitesmoke;
  height: 30px;
  .btn {
    height: 100%;
    // border-bottom: none;
    // border-left: none;
    // border-top: none;
    border: none;
    background-color: wheat;
    &:hover {
      background-color: whitesmoke;
    }
  }
}
