body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#root {
  width: clamp(200px, 100%, 1440px);
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .site {
    width: 80%;
  }
}
