@use "utilities/colorVariables" as colors;
@use "utilities/fonts" as fonts;

.cart-product-container {
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 20%;
  min-height: 40vh;
  background-color: colors.$themeFirstColor;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .cart-product-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .cart-product {
    .right-elements {
      width: 80%;
    }
  }
}

.cart-product {
  font-family: fonts.$poppins-light;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  height: 7.5rem;
  align-items: center;
  justify-content: space-between; // Add this line
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
  img {
    height: 100%;
  }
  .product-name-cart {
    font-size: 1.3em;
    padding-top: 0.5rem;
  }
  .right-elements {
    padding-top: 0.5rem;
    width: 40%;
    display: flex;
    align-items: center; // Add this line
    justify-content: space-between;
    button {
      border: none;
      background-color: colors.$themeFirstColor;
      cursor: pointer; // Add this line
    }
    img {
      height: 2rem;
    }
  }
}
.lower-part-cart {
  font-family: fonts.$poppins-light;
  display: flex;
  background-color: colors.$themeFirstColor;
  padding-bottom: 2rem;
  font-size: 1.3em;
  padding-left: 15%;
  padding-right: 15%;
  p {
    padding: 1rem;
    margin: 0;
    margin-left: auto;
  }
  .btn-remove-cart {
    border: black solid 0.5px;
    background-color: colors.$themeSecondColor;
    color: colors.$themeFirstColor;
    height: 3rem;
    cursor: pointer; // Add this line
  }
  .btn-make-order {
    border: black solid 0.5px;
    background-color: colors.$themeSecondColor;
    color: colors.$themeFirstColor;
    width: 5rem;
    height: 3rem;
    cursor: pointer; // Add this line
  }
}
.empty-cart-alert {
  text-align: center;
  font-family: fonts.$poppins-medium;
  font-size: 1.5em;
}
