@use "utilities/colorVariables" as colors;

.advertisment {
  display: flex;
  background-color: colors.$themeFirstColor;
  height: 300px;
}

.margin {
  display: flex;
  background-color: colors.$themeSecondColor;
  height: 30px;
}

.best-products-container {
  display: flex;
  background-color: colors.$themeFirstColor;
  height: 300px;
}
