@use "utilities/colorVariables" as colors;
@use "utilities/fonts" as fonts;

.advertisment {
  display: flex;
  flex-direction: column;
  background-color: colors.$themeFirstColor;
  background-color: #d0cccc;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.advertisment > * {
  font-family: fonts.$inter-bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 0;
}
.margin {
  display: flex;
  background-color: colors.$themeSecondColor;
  height: 30px;
}

.best-products-container {
  display: grid;
  background-color: colors.$themeFirstColor;
  grid-template-columns: 25% 25% 25% 25%;
}
@media only screen and (max-width: 600px) {
  .best-products-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.ad-title {
  font-size: 3em;
  font-weight: bold;
}
.ad-subtitle {
  font-size: 1em;
  font-weight: bold;
}
