@use "utilities/colorVariables" as colors;
@use "../styles/utilities/fonts" as fonts;

.grid-container {
  background-color: colors.$themeFirstColor;
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar-container {
  padding-left: 20%;
  display: flex;
  border-right: 0.5px solid;
  flex-direction: column;
  h3 {
    margin-top: 2rem;
    margin-bottom: 5%;
    font-family: fonts.$poppins-light;
    font-size: 15pt;
    margin-left: 5%;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 0.5px solid #000;
    border-radius: 4px;
    position: relative;
  }

  input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #filter {
    margin-bottom: 0px;
    border-radius: 0px;
    margin-right: 8px;
  }
  background-color: colors.$themeFirstColor;
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    font-family: fonts.$poppins-light;
    font-size: 12pt;
  }
  .filter-field {
    margin-bottom: 5%;
  }
  .btn-submit-button {
    margin-top: 10%;
    width: 7rem;
  }
}

.product-container {
  .sort-control {
    grid-column: span 3;
    height: 30px;
    border-bottom: 0.5px solid;
  }
  div.pagination {
    display: flex;
    grid-column: span 3;
    justify-content: center;
  }
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
