@use "utilities/colorVariables" as colors;
@use "../styles/utilities/fonts" as fonts;

.grid-container {
  background-color: colors.$themeFirstColor;
  display: grid;
  grid-template-columns: 20% 80%;
  div.pagination {
    display: flex;
    height: 2rem;
    justify-content: center;
    grid-column: span 1;
    button {
      cursor: pointer;
      border: 0px;
      border-right: 0.5px solid;
      border-left: 0.5px solid;
      background-color: white;
    }
  }
}

.sidebar-container {
  display: flex;
  border-right: 0.5px solid;
  flex-direction: column;

  h3 {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 5%;
    font-family: fonts.$poppins-light;
    font-size: 1.2em;
    margin-left: 5%;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1rem;
    height: 0.9rem;
    border: 0.5px solid #000;
    border-radius: 4px;
    position: relative;
  }

  input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #filter {
    margin-bottom: 0px;
    border-radius: 0px;
    margin-right: 8px;
  }
  background-color: colors.$themeFirstColor;
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    font-family: fonts.$poppins-light;
    font-size: 1em;
  }
  .filter-field {
    padding-left: 1rem;
    margin-bottom: 5%;
  }
  .btn-submit-button {
    border: 0px;
    margin-top: 10%;
    background-color: black;
    color: white;
    width: 6rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: fonts.$poppins-light;
  }
  .price-filters {
    padding-bottom: 1rem;
    border-bottom: 0.5px solid black;
  }
  .price-filter {
    display: flex;

    label {
      margin-left: 0.5rem;
    }
    input {
      margin-left: auto;
      margin-right: 3rem;
      width: 5rem;
    }
  }
  .categories-filters {
    border-bottom: 0.5px solid black;
  }
  .companies-filters {
    border-bottom: 0.5px solid black;
  }
}

.product-container {
  .sort-control {
    grid-column: span 3;
    height: 30px;
    border-bottom: 0.5px solid;
  }

  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 600px) {
  .product-container {
    display: grid;
    grid-template-columns: 100%;

    .sort-control {
      grid-column: span 1;
      height: 30px;
      border-bottom: 0.5px solid;
    }
  }
  div.pagination {
    border-top: auto;
    display: flex;
    grid-column: span 1;
    justify-content: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
  }
}
